.overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    background-image: url(wall2.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.items{
    color: white;
    text-align: center;
}
.items3 {
    
    text-align: center;
    margin-top: 3opx;
    
}
a:link {
    background-color: darkblue;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    padding: 14px 25px;
    transition: white .3s ease-in-out, box-shadow .3s ease-in-out;
    
}
a:hover {
    background-color: red;
    box-shadow: inset 100px 0 0 0 #54b3d6;
    
    
}
a:visited {
    color: white;
}
/* div.items {
    background-color: brown;
    width: 200px;
    height: 200px;
    margin: 10px;
}
div.items2{
    background-color: blue;
}
#container {
    border: 2px solid black;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

} */
